# CODEOWNERS - Default reviewers for pull requests
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @j1v37u2k3y
