# EditorConfig for NeoSetup
# https://editorconfig.org/

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 200

# Python files
[*.py]
indent_size = 4
max_line_length = 200

# Shell scripts
[*.sh]
indent_size = 2

# Makefile
[{Makefile,*.mk}]
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 200

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Jinja2 templates
[*.j2]
indent_size = 2

# JSON files
[*.json]
indent_size = 2
