---
# Docker role handlers

- name: restart docker
  systemd:
    name: docker
    state: restarted
    daemon_reload: yes
  become: yes
  when:
    - ansible_os_family != "Darwin"
    - podman_docker_check.rc != 0

- name: reload docker
  systemd:
    name: docker
    state: reloaded
  become: yes
  when:
    - ansible_os_family != "Darwin"
    - podman_docker_check.rc != 0
